@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    <li style="padding:15px;">@Html.ActionLink("Laptop", "details", "product", new { product = "laptop" }, new { @title = "Laptop" })</li>

   <li style="padding:15px;"> @Html.ActionLink("tablets", "details", "product", new { product = "tablets" }, new { @title = "Tablets" })</li>

    <li style="padding:15px;">@Html.ActionLink("Desktop", "details", "product", new { product = "desktop" }, new { @title = "desktop" })</li>














    </ul>

